<div style="border: 1px solid; padding: 8px;">
    <p>event-page works!</p>

    <ng-container *ngIf="eventData else noEventData">
        <p>id {{ eventData.id }}</p>
        <p>name {{ eventData.name }}</p>
        <p *ngIf="eventData.description">description {{ eventData.description }}</p>
        <p>startDate {{ eventData.startDate | date:'long' }}</p>
        <p>endDate {{ eventData.endDate | date:'long' }} </p>

        <p *ngIf="eventData.eventAttendanceMode">eventAttendanceMode {{ eventData.eventAttendanceMode }}</p>
        <p *ngIf="eventData.eventStatus">eventStatus {{ eventData.eventStatus }}</p>
        
        <div style="border: 1px solid; padding: 8px;" *ngIf="eventData.image">
            <ng-container *ngFor="let img of eventData.image">
                <img [src]="img">
            </ng-container>
        </div>

        <div style="border: 1px solid; padding: 8px;" *ngIf="eventData.offers">
            <ng-container *ngFor="let item of eventData.offers">
                <div style="border: 1px solid; padding: 8px">
                    <p>offer type {{ item["@type"] }}</p>
                    <p>offer availability {{ item.availability }}</p>
                    <p>offer price {{ item.price }} </p>
                    <p>offer priceCurrency {{ item.priceCurrency }}</p>
                    <p>offer validFrom {{ item.validFrom }}</p>
                    <p>offer url {{ item.url }}</p>
                </div>
            </ng-container>
        </div>

        <div style="border: 1px solid; padding: 8px" *ngIf="eventData.organizer">
            <p>organizer type {{ eventData.organizer['@type'] }}</p>
            <p>organizer name {{ eventData.organizer.name }}</p>
            <ng-container *ngIf="eventData.organizer['@type'] === 'Organization'">
                <p>organizer url {{ (eventData.organizer | as : Organization).url }}</p>
            </ng-container>
        </div>

        <div style="border: 1px solid; padding: 8px" *ngIf="eventData.performer">
            <p>performer type {{ eventData.performer['@type'] }}</p>
            <p>performer name {{ eventData.performer.name }}</p>
        </div>

        <div style="border: 1px solid; padding: 8px" *ngIf="eventData.previousStartDate">
            <ng-container *ngFor="let item of eventData.previousStartDate">
                <p>previousDate {{ item }}</p>
            </ng-container>
        </div>
    </ng-container>

    <ng-template #noEventData>
        <p>event not found</p>
    </ng-template>
</div>